.form {
    padding: 1rem;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input,
  .control textarea{
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 100%;
  }

  .paragraf {

    text-align: center;
    padding-top: 5px;
  
  }
  .paragraf2 {
    text-align: center;
    padding-bottom: 5px;
  }
  
  .actions{
    margin-top: 1rem;
    text-align: right;
  }
  
  .actions button,
  .actions a {
    margin-right: 1rem;
    font: inherit;
    cursor: pointer;
    background-color: #dab88b;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #dab88b;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #f1ad52;
    border-color: #f1ad52;
  }